<h1 ><%= @keyword %></h1>
<div class="container">
	<% count = 1 %>
	<% @entriesArray.each do |entry | %>
        <% @general_keyword = @general_keyword + "," + entry.title %>
		<div class="col-lg-3 col-sm-6 videoitem">
            <div class="b-video">
                <div class="v-img">
                	<a href="<%= entry.image %>" download>
                		<img class="lazy" width="100%" height="300px" data-original="<%= entry.image %>" alt="<%= entry.title %>" title="<%= entry.title %>">
                	</a>
                	<div class="time"><%= entry.resolusi %></div>
                </div>
                <div class="v-desc">
               		<p><%= entry.title %></p>
                </div>
                <div class="v-views">
                    <a href="<%= entry.image %>" download><button class="btn btn-primary btn-block"> Download Now </button></a>
                </div>
            </div>
        </div>
        <% count = count + 1 %>
	<% end %>
</div>
<br>