<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= @web_title %> - <%= @general_title %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="description" content="<%= @general_description %>">
	<meta name="keywords" content="<%= @general_keyword %>">
	<meta name="og:image" content="<%= @general_meta_image %>">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<meta name="distribution" content="global">
	<meta name="og:type" content="website">
    <%= stylesheet_link_tag("application") %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700|Hind+Guntur:300,400,500,700" rel="stylesheet" type="text/css">
    <%= raw @header_script %>
  </head>
  <body>
<div class="container-fluid">
    <div class="row">
        <div class="navbar-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-10 col-xs-10">
                        <ul class="list-inline menu">
                        	 <li><a href="<%= root_path %>">Home</a></li>
                            <li class="pages">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Popular</a>
                                <ul class="dropdown-menu">
                                    <% if !@allcategory.nil? %>
                                        <% @allcategory.each do |cate| %>
                                            <li><a href="/pics/<%= cate.title.parameterize %>"><%= cate.title %></a></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </li>
                            <li><a href="/page/contact-us">Contact</a></li>
                        </ul>
                    </div>
                    <div class="visible-xs visible-sm clearfix"></div>
                    <div class="col-lg-6 col-sm-8 col-xs-12">
                        <%= form_tag("/pics", :method => "get", :class => "formsearch") do %>
                            <div class="topsearch">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
                                    <input type="text" class="key form-control" placeholder="Search wallpaper here.." required>
                                    <div class="input-group-btn">
                                        <button type="submit" class="form_submit btn btn-default">Go !!</button>
                                    </div><!-- /btn-group -->
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="visible-xs clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="navbar-container2">
            <div class="container">
                <div class="row">
                	<h2>Search Wallpaper Above !!<br> 1.000.000++ Free HD & 4K Wallpapers</h2>
                   	<h4>We have a lot of HD & 4K Wallpapers for Desktop, PC, Android, iPhone, etc. </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <%= raw @header_ads %>
</div>

<div class="content-wrapper">
	<div class="container">
		<div class="row">
			<%= yield %>
		</div>
	</div>
</div>
<div class="container">
    <%= raw @footer_ads %>
    <br>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="container padding-def">
                <div class="col-lg-7  col-sm-7 col-xs-12">
                    <div class="f-links">
                        <ul class="list-inline">
                            <li><a href="/page/contact-us">Contact Us</a></li>
                            <li><a href="/page/dmca">DMCA</a></li>
                            <li><a href="/page/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
   <%= javascript_include_tag("application") %>
   <%= raw @footer_script %>
  </body>
</html>
